/*VARIABLES*/ /*MIXINS*/ /*MAPAS*/ /* fuente*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
/*GENERALES*/
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header { /*header*/
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  border-radius: 0;
  box-shadow: 4px 4px 8px #1C3334;
  background-color: #AE2A3F;
  border-bottom: 1px solid #1C3334;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}
.header #logo { /*logo*/
  position: relative;
  right: 120px;
  width: 200px;
  height: unset;
}
.header #logo a { /*link logo*/
  color: #FFD3B5;
}
.header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: unset;
  width: 100%;
}
.header nav .navbar-toggler-icon {
  color: #1C3334;
}
.header nav ul {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  height: 110px;
}
.header nav ul li {
  list-style-type: none;
}
.header nav ul li a {
  font-size: 22px;
  font-family: unset;
  font-weight: unset;
  letter-spacing: 2px;
  color: #F8B195;
  margin: 30px;
  padding: 0 5px;
  transition: 0.4s ease;
  text-decoration: none;
}
.header nav ul li a:hover {
  color: #F5F5F5;
  transform: scale(1.2);
}
.header nav ul li a#active {
  color: #F5F5F5;
  background-color: #FF5733;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #1C3334;
}
.header #logo-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  margin-top: 5px;
}
.header #logo-redes .fa-instagram,
.header #logo-redes .fa-facebook,
.header #logo-redes .fa-whatsapp,
.header #logo-redes .fa-twitter { /*iconos redes*/
  background-color: #1C3334;
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
}
.header #logo-redes a {
  color: #FFD3B5;
}
.header #logo-redes i:hover { /*iconos hover*/
  transition: 0.3s ease;
  background-color: #F5F5F5;
  color: #9A3061;
  opacity: 0.7;
  transform: scale(1.09);
}

/*fondo index*/
.body-index {
  width: 100%;
  background-image: url(../imgs/Main/fondo-index.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.body-index .main-index { /*seccion principal*/
  background-image: url(../imgs/Main/fondo-volvimos.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 600px;
  color: #FFD3B5;
  margin: 0 auto;
}
.body-index .main-index .main-overlay { /*overlay main*/
  width: 100%;
  height: 600px;
  background-color: rgba(28, 51, 52, 0.9);
  margin: 0 auto;
}
.body-index .main-index .contenedor-volvimos {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 370px;
  margin: 50px auto 0;
  padding: 0px;
}
.body-index .main-index .contenedor-volvimos h3 {
  font-size: 30px;
  font-family: "Roboto, sans-serif";
  font-weight: bolder;
  position: relative;
  text-align: center;
  letter-spacing: 8px;
  animation-name: bounceInLeft;
  animation-duration: 2s;
}
.body-index .main-index .texto-index { /*parrafo*/
  display: flex;
  width: 100%;
  height: unset;
  letter-spacing: 1px;
  color: #F5F5F5;
  font-size: 24px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.body-index .main-index .volvimos { /* h1 main*/
  font-size: 90px;
  font-family: "Roboto";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  letter-spacing: 15px;
  color: #F5F5F5;
  margin-top: 10px;
  animation-name: bounceInRight;
  animation-duration: 2s;
}
.body-index .main-index .volvimos span {
  color: #FF5733;
}
.body-index .main-index .contenedor-botones-index { /* botones main*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  animation-name: zoomInUp;
  animation-duration: 2s;
}
.body-index .main-index .contenedor-botones-index a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  font-size: 24px;
  background-color: #FF5733;
  text-decoration: none;
}
.body-index .main-index .contenedor-botones-index .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1C3334;
  padding: 5px 0;
  background-color: #FF5733;
  color: #F5F5F5;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 180px;
  height: unset;
  letter-spacing: 2px;
  margin: 20px;
  transition: 0.5s ease;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #FFD3B5;
}
.body-index .main-index .contenedor-botones-index .boton:hover {
  transform: scale(1.1);
  border-radius: 5px;
  box-shadow: 4px 4px 8px #F8B195;
  color: #F5F5F5;
  background-image: linear-gradient(to top, #e94825, #ed4521, #f1411c, #f53d16, #f93910);
}
.body-index .index-section-bottom { /* seccion novedades */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: unset;
  background-color: #AE2A3F;
  margin: 0 auto;
  padding-bottom: 20px;
  /*novedades h3*/
}
.body-index .index-section-bottom h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
  margin-top: 10px;
  font-size: 40px;
  margin-bottom: 30px;
  transition: 0.9s ease-in-out;
}
.body-index .index-section-bottom .novedad {
  width: 100%;
  height: 50px;
  letter-spacing: 2px;
}
.body-index .index-section-bottom .contenedor-videos-index {
  width: 100%;
  height: 620px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.body-index .index-section-bottom .contenedor-videos-index .pizzaparty { /*foto pizza party */
  width: 500px;
  height: 600px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #1C3334;
  border: #000000 1px solid;
  display: flex;
  transition: 0.9s ease-in-out;
}
.body-index .index-section-bottom .contenedor-videos-index .pizzaparty:hover {
  transform: scale(1.05);
}
.body-index .index-section-bottom .contenedor-videos-index .video-index { /* video novedades */
  border-radius: 2px;
  box-shadow: 5px 5px 10px #1C3334;
  width: 500px;
  height: 600px;
  border: #000000 1px solid;
  padding: 15px;
  transition: 0.9s ease-in-out;
}
.body-index .index-section-bottom .contenedor-videos-index .video-index:hover {
  transform: scale(1.05);
}
.body-index .index-section-bottom .contenedor-videos-index .logo-novedad { /*foto novedades */
  display: flex;
  width: 450px;
  height: 600px;
}

/*estilos del footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  flex-direction: column;
  color: #783E75;
  background-color: #FFD3B5;
}
.footer a { /* enlaces */
  color: #783E75;
  text-decoration: none;
}
.footer .footer-redes { /* iconos redes */
  margin-top: 10px;
  display: flex;
}
.footer .footer-redes .fa-instagram,
.footer .footer-redes .fa-facebook,
.footer .footer-redes .fa-whatsapp,
.footer .footer-redes .fa-twitter { /*iconos redes*/
  background-color: #F8B195;
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
}
.footer .footer-redes a {
  display: inline-flex;
  padding: 3px;
}
.footer .footer-redes a i {
  transform: scale(1.1);
  transition: 0.3s ease;
  background-color: #F8B195;
}
.footer .footer-redes a i:hover {
  background-color: #1C3334;
  color: #F5F5F5;
  opacity: 0.7;
}
.footer .footer-info { /*info del footer*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-flow: column wrap;
  margin-top: 1%;
  letter-spacing: 8px;
}
.footer .footer-info h3 {
  font-size: 20px;
  margin: 0;
  padding: 10px;
  letter-spacing: 8px;
}
.footer .footer-info a {
  color: #FF5733;
}
.footer .footer-info #footer-envelope {
  font-size: 20px;
}
.footer .footer-info #footer-phone {
  font-size: 20px;
}
.footer .footer-ubicacion { /*footer ubicacion*/
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  height: auto;
  letter-spacing: 8px;
}
.footer .footer-ubicacion h3 {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  margin: 0;
}
.footer .footer-ubicacion p {
  margin: 0;
  font-size: 20px;
}
.footer .footer-hora {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  flex-flow: column wrap;
  color: #783E75;
  height: auto;
  letter-spacing: 8px;
}
.footer .footer-hora h3 {
  font-size: 22px;
  text-decoration: underline;
  margin: 0;
}
.footer .footer-hora p {
  margin: 0;
  font-size: 20px;
}
.footer .scroll-up-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  transition: 0.5s ease;
}
.footer .scroll-up-container:hover {
  background-color: #FF5733;
  border-radius: 100%;
  transform: scale(1.1);
}

#body-menu { /*estilos menu*/
  position: absolute;
  width: 100%;
  background-image: url(../imgs/Menu/fondo-menu-3.jpg); /*fondo*/
  background-repeat: no-repeat;
  background-size: cover;
}
#body-menu .contenedor-h1-menu {
  margin: 0 auto;
  width: 90%;
  background-color: #1C3334;
  padding: 40px;
  animation-name: fadeInUp;
  animation-duration: 1s;
}
#body-menu .contenedor-h1-menu .nuestro-menu { /*h1 menu*/
  width: 90%;
  color: #FF5733;
  text-align: center;
  font-size: 60px;
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin: 0;
  /*h1 span*/
}
#body-menu .contenedor-h1-menu .nuestro-menu .nuestro {
  color: #F5F5F5;
}
#body-menu .menu-section-top { /*seccion superior*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #AE2A3F;
  animation-name: slideInUp;
  animation-duration: 2s;
}
#body-menu .menu-section-top .img-menu {
  width: 32%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
}
#body-menu .card-container-top {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#body-menu .card-container-top .card-container {
  position: relative;
  width: 286px;
  height: 270px;
}
#body-menu .card-container-top .card-container .card-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}
#body-menu .card-container-top .card-container .card-1:hover {
  transform: rotateY(180deg);
}
#body-menu .card-container-top .card-container .card-1 .card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(56, 54, 54);
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  backface-visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #FF5733;
  padding: 10px 15px 0 15px;
}
#body-menu .card-container-top .card-container .card-1 .card-front img {
  border: 1px solid #1C3334;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
}
#body-menu .card-container-top .card-container .card-1 .card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#body-menu .card-container-top .card-container .card-1 .card-body p {
  color: #F5F5F5;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}
#body-menu .card-container-top .card-container .card-back {
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #1C3334;
  color: #F5F5F5;
  border: 1px solid rgb(56, 54, 54);
  font-size: 20px;
  flex-flow: column wrap;
  line-height: 30px;
  text-align: center;
  padding: 15px;
}
#body-menu .card-container-bottom {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#body-menu .card-container-bottom .card-container {
  position: relative;
  width: 286px;
  height: 270px;
}
#body-menu .card-container-bottom .card-container .card-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}
#body-menu .card-container-bottom .card-container .card-1:hover {
  transform: rotateY(180deg);
}
#body-menu .card-container-bottom .card-container .card-1 .card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(56, 54, 54);
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  backface-visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  background-color: #FF5733;
  padding: 10px 15px 0 15px;
}
#body-menu .card-container-bottom .card-container .card-1 .card-front img {
  border: 1px solid #1C3334;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
}
#body-menu .card-container-bottom .card-container .card-1 .card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#body-menu .card-container-bottom .card-container .card-1 .card-body p {
  color: #F5F5F5;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}
#body-menu .card-container-bottom .card-container .card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  width: 100%;
  height: 100%;
  border: 1px solid rgb(56, 54, 54);
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: #1C3334;
  color: #F5F5F5;
  font-size: 20px;
  flex-flow: column wrap;
  line-height: 30px;
  text-align: center;
  padding: 15px;
}
#body-menu .menu-section-bottom { /*seccion baja*/
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: #AE2A3F;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#body-menu .menu-section-bottom .menu-img {
  width: 32%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
}

/*estilo nosotros*/
.body-nosotros {
  background-image: url(../imgs/Nosotros/fondo-nosotros.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.body-nosotros .contenedor-h1-nosotros {
  animation-name: fadeInUp;
  animation-duration: 1s;
  color: #F5F5F5;
  background-color: #1C3334;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding: 35px;
}
.body-nosotros .contenedor-h1-nosotros .nosotros-conocenos {
  margin: 0 auto;
  font-size: 60px;
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.body-nosotros .contenedor-h1-nosotros .nosotros-conocenos .conocenos-span {
  color: #FF5733;
}
.body-nosotros .nosotros-main { /*main nosotros*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: #F5F5F5;
  padding: 10px;
  animation-name: slideInUp;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.body-nosotros .nosotros-main .img-nosotros {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #1C3334;
}
.body-nosotros .nosotros-main .nosotros-historia {
  color: #1C3334;
  font-size: 24px;
  text-align: center;
  margin: 0 20px;
  letter-spacing: 2px;
  font-weight: bold;
}
.body-nosotros .nosotros-main .img-2 {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #1C3334;
}
.body-nosotros .section-fotos { /*seccion fotos*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 550px;
  margin: 0 auto;
  padding: 10px;
  background-color: #FFD3B5;
  animation-name: slideInUp;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
.body-nosotros .section-fotos .img-nosotros {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #1C3334;
}
.body-nosotros .section-videos { /*seccion videos*/
  background-image: url(../imgs/Nosotros/fondo-Videos.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 520px;
  margin: 0 auto;
  background-color: #AE2A3F;
}
.body-nosotros .section-videos .video-nosotros { /*videos*/
  width: 30%;
  height: 450px;
  border-radius: 2px;
  box-shadow: 5px 5px 10px #1C3334;
  border: 1px solid #1C3334;
}

/*estilo promociones*/
.body-promos {
  background-image: url(../imgs/Promos/fondo-promos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.body-promos .contenedor-h1-promos {
  width: 90%;
  height: unset;
  color: #F5F5F5;
  background-color: #1C3334;
  animation-name: fadeInUp;
  animation-duration: 1s;
  padding: 40px;
  margin: 0 auto;
}
.body-promos .contenedor-h1-promos .promo-h1 { /*promociones*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-bottom: 0;
}
.body-promos .contenedor-h1-promos .promo-h1 span {
  color: #FF5733;
}
.body-promos .promo-section-top { /*seccion superior*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 750px;
  padding: 0 10px;
  width: 90%;
  margin: 0 auto;
  background-color: #FF5733;
  animation-name: slideInUp;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.body-promos .promo-section-top .promo-img {
  width: 100%;
  height: 700px;
  margin: 10px;
  transition: 1.03s ease;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
}
.body-promos .promo-section-top .promo-img:hover {
  transform: scale(1.02);
}
.body-promos .promo-section-bottom { /*seccion*/
  width: 90%;
  height: 750px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem;
  animation-name: bounceInUp;
  animation-duration: 3s;
  margin: 0 auto;
  background-color: #FF5733;
}
.body-promos .promo-section-bottom .promo-img {
  width: 100%;
  height: 700px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  transition: 1.03s ease;
}
.body-promos .promo-section-bottom .promo-img:hover {
  transform: scale(1.02);
}
.body-promos .contenedor-h2-mediospago { /*estilo medios de pago*/
  background-color: #1C3334;
  margin: 0 auto;
  width: 90%;
  padding: 40px;
}
.body-promos .contenedor-h2-mediospago .medio-pago {
  color: #F5F5F5;
  font-size: 50px;
  text-align: center;
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.body-promos .contenedor-h2-mediospago .medio-pago span {
  color: #FF5733;
}
.body-promos .section-mediopagos { /*medios de pago*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 320px;
  background-image: url(../imgs/Promos/fondo-pagos.png);
  margin: 0 auto;
}
.body-promos .section-mediopagos .caja-efectivo { /*efectivo*/
  width: 300px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  transition: 0.4s ease;
  flex-direction: column;
  border: 1px solid #1C3334;
}
.body-promos .section-mediopagos .caja-efectivo .h3-medios-de-pago { /*texto efectivo*/
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  display: flex;
  font-size: 24px;
  align-self: center;
  color: #F5F5F5;
  background-color: #FF5733;
  padding: 5px 5px;
}
.body-promos .section-mediopagos .caja-efectivo .efectivo { /*imagen efectivo*/
  width: 150px;
  height: 150px;
  margin: 0 25% 0 25%;
}
.body-promos .section-mediopagos .caja-efectivo:hover { /*hover*/
  transform: scale(1.09);
}
.body-promos .section-mediopagos .tarjetas { /*tarjetas*/
  width: 350px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  transition: 0.4s ease;
  border: 1px solid #1C3334;
  flex-direction: column;
}
.body-promos .section-mediopagos .tarjetas .h3-medios-de-pago { /*texto*/
  display: flex;
  font-size: 24px;
  align-self: center;
  color: #F5F5F5;
  background-color: #FF5733;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  padding: 5px 5px;
}
.body-promos .section-mediopagos .tarjetas .tarjeta { /*imagen tarjeta*/
  display: flex;
  width: 320px;
  height: 150px;
}
.body-promos .section-mediopagos .tarjetas:hover {
  transform: scale(1.09);
}
.body-promos .section-mediopagos .mercado-pago { /*mercado pago*/
  width: 300px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  border: 1px solid black;
  transition: 0.4s ease;
  flex-direction: column;
}
.body-promos .section-mediopagos .mercado-pago .h3-medios-de-pago { /*texto mercado*/
  display: flex;
  font-size: 24px;
  align-self: center;
  color: #F5F5F5;
  background-color: #FF5733;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
  padding: 5px 5px;
}
.body-promos .section-mediopagos .mercado-pago .mercado-pago-img { /*imagen mercado*/
  display: flex;
  width: 150px;
  height: 150px;
}
.body-promos .section-mediopagos .mercado-pago:hover {
  transform: scale(1.09);
}

/*estilo contacto*/
.body-contacto {
  background-image: url(../imgs/Contacto/fondo-contacto.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.body-contacto .contenedor-h1-contacto {
  width: 90%;
  height: unset;
  color: #F5F5F5;
  background-color: #1C3334;
  animation-name: fadeInUp;
  animation-duration: 1s;
  margin: 0 auto;
  padding: 40px;
}
.body-contacto .contenedor-h1-contacto .contacto-h1 { /*texto contacto*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 60px;
  animation-name: bounceIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.body-contacto .contenedor-h1-contacto .contacto-h1 span {
  color: #FF5733;
}
.body-contacto .contenedor-banner { /*banner contacto*/
  width: 90%;
  height: unset;
  margin: 1px auto 2px;
}
.body-contacto .contenedor-banner .banner-contacto {
  animation-name: slideInUp;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
}
.body-contacto .main-contacto { /*main contacto*/
  background-image: url(../imgs/Promos/fondo-pagos.png);
  background-size: cover;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  animation-name: slideInUp;
  animation-duration: 1.9s;
  animation-timing-function: ease-in;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1C3334;
}
.body-contacto .main-contacto .form-contacto { /*formulario de contacto*/
  padding: 14px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1C3334;
  border: 1px solid #1C3334;
}
.body-contacto .main-contacto .form-contacto .campo { /*campo*/
  font-size: unset;
  font-family: "Poppins";
  font-weight: bolder;
  text-align: center;
  width: 80%;
  height: 100%;
  color: #F5F5F5;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1C3334;
  background-color: #1C3334;
  padding: 10px;
  border: 1px solid #1C3334;
  margin: 10px 0;
  transition: 0.4s ease;
}
.body-contacto .main-contacto .form-contacto .campo::placeholder {
  font-size: 16px;
  letter-spacing: 1px;
  color: #F5F5F5;
  text-align: center;
}
.body-contacto .main-contacto .form-contacto .campo:hover {
  color: #F5F5F5;
  transform: scale(1.05);
}
.body-contacto .main-contacto .form-contacto .campo:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 4px 4px 8px #1C3334;
  transition: 1s ease;
  color: #F5F5F5;
  text-align: center;
}
.body-contacto .main-contacto .form-contacto .campo:focus::placeholder {
  transition: 0.1s ease;
  font-size: 16px;
  letter-spacing: 1px;
  color: transparent;
  text-align: center;
}
.body-contacto .main-contacto .form-contacto .caja-mensaje { /*mensaje*/
  font-size: 16px;
  font-family: unset;
  font-weight: bolder;
  color: #F5F5F5;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1C3334;
  width: 80%;
  height: 180px;
  line-height: 20px;
  text-align: center;
  resize: none;
  border: 1px solid #1C3334;
  background-color: #1C3334;
  transition: 0.4s ease;
}
.body-contacto .main-contacto .form-contacto .caja-mensaje:hover {
  transform: scale(1.05);
}
.body-contacto .main-contacto .form-contacto .caja-mensaje:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1C3334;
  transition: 1s ease;
  color: #F5F5F5;
  text-align: center;
}
.body-contacto .main-contacto .form-contacto .caja-mensaje:focus::placeholder {
  transition: 0.1s ease;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: transparent;
}
.body-contacto .main-contacto .form-contacto .caja-mensaje::placeholder {
  font-size: 16px;
  letter-spacing: 1px;
  color: #F5F5F5;
  text-align: center;
}
.body-contacto .main-contacto .form-contacto .contenedor-boton-contacto {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-contacto .main-contacto .form-contacto .contenedor-boton-contacto .boton-contacto {
  border: 1px solid #1C3334;
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 20px;
  width: 40%;
  height: unset;
  transition: 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1C3334;
  padding: 5px 0;
  background-color: #FF5733;
  color: #F5F5F5;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.body-contacto .main-contacto .form-contacto .contenedor-boton-contacto .boton-contacto:hover {
  transform: scale(1.05);
  color: #FFD3B5;
  background-color: #1C3334;
}
.body-contacto .main-contacto .contenedor-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1C3334;
  border: 1px solid #1C3334;
  padding: 10px;
  margin-left: 1rem;
}
.body-contacto .main-contacto .contenedor-mapa .mapa {
  width: 90%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #1C3334;
}

/*media movil*/
@media (min-width: 320px) and (max-width: 600px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .header nav {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .header nav .container {
    width: 100%;
    margin: 0 auto;
  }
  .header nav .container .navbar-toggler {
    margin-top: 2em;
  }
  .header nav .container .navbar-brand {
    display: flex;
    position: relative;
    left: 3em;
    top: 10px;
  }
  .header nav .container .sidebar {
    background-color: rgba(174, 42, 63, 0.7);
    backdrop-filter: blur(20px);
    letter-spacing: 2px;
  }
  .header nav .container .offcanvas-backdrop.fade.show {
    background-color: #1C3334;
  }
  .header nav .container .navbar-nav {
    width: 100%;
    height: 80%;
    align-items: center !important;
    justify-content: center;
  }
  .header nav .container .navbar-nav .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: unset;
  }
  .header nav .container #logo-redes {
    width: unset;
    margin: 5px auto 0;
  }
  .body-index {
    display: block;
    width: 100%;
    height: unset;
    padding: 0;
    margin: 0;
  }
  .body-index .main-index {
    width: 100%;
    height: unset;
  }
  .body-index .main-index .main-overlay {
    height: unset;
    padding: 0 2em;
  }
  .body-index .main-index .main-overlay .contenedor-volvimos {
    width: 100%;
    height: unset;
  }
  .body-index .main-index .main-overlay .contenedor-volvimos .volvimos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: unset;
    font-size: 3rem;
    animation-name: none;
    margin-top: 0;
    padding: 0;
    margin-bottom: 20px;
    letter-spacing: 5px;
    color: #FFD3B5;
  }
  .body-index .main-index .main-overlay .contenedor-volvimos .volvimos .volvimos-span {
    font-size: 3rem;
  }
  .body-index .main-index .main-overlay .contenedor-volvimos .volvimos-h3 {
    width: 100%;
    height: unset;
    font-size: 24px;
    letter-spacing: 0;
    animation-name: none;
    color: #F8B195;
  }
  .body-index .main-index .main-overlay .contenedor-botones-index {
    height: unset;
    animation-name: none;
  }
  .body-index .main-index .main-overlay .contenedor-botones-index .boton {
    height: 35px;
    padding: 10px 0;
    animation-name: none;
  }
  .body-index .index-section-bottom {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: unset;
  }
  .body-index .index-section-bottom .novedad {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1em;
    animation-name: none;
  }
  .body-index .index-section-bottom .contenedor-videos-index {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .body-index .index-section-bottom .contenedor-videos-index .pizzaparty {
    width: 100%;
    height: unset;
    margin-bottom: 2rem;
    border: none;
  }
  .body-index .index-section-bottom .contenedor-videos-index .video-index {
    width: 100%;
    margin-bottom: 2rem;
  }
  .body-index .index-section-bottom .contenedor-videos-index .logo-novedad {
    width: 100%;
    display: none;
  }
  .footer {
    height: unset;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    flex-wrap: wrap;
    font-size: 18px;
  }
  .footer .footer-info #footer-phone {
    font-size: 18px;
    padding: 0;
  }
  .footer .footer-info #footer-envelope {
    font-size: 18px;
  }
  .footer .footer-info h3 {
    font-size: 18px;
  }
  .footer #footer-redes {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .footer .footer-hora {
    width: 100%;
    height: auto;
  }
  .footer .footer-hora h3 {
    font-size: 18px;
  }
  .footer .footer-hora p {
    letter-spacing: 0;
  }
  .footer #footer-ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    height: auto;
  }
  .footer #footer-ubicacion h3 {
    font-size: 18px;
  }
  .footer #footer-ubicacion p {
    letter-spacing: 0;
  }
  .footer .scroll-up-container {
    position: fixed;
    bottom: 6px;
    right: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .footer .scroll-up-container img {
    width: 30px;
    height: 30px;
  }
  #body-menu .contenedor-h1-menu {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  #body-menu .contenedor-h1-menu .nuestro-menu {
    padding: 20px;
    font-size: 3em;
    width: 90%;
    height: auto;
  }
  #body-menu #menu-section-top {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }
  #body-menu #menu-section-top .img-menu {
    margin: 0 auto 1rem;
    width: 90%;
  }
  #body-menu .menu-section-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  #body-menu .menu-section-bottom .menu-img {
    margin: 0 auto 1rem;
    width: 90%;
  }
  #body-menu .card-container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: unset;
    flex-flow: column wrap;
    background-image: linear-gradient(to right, #ae2a3f, #be303f, #ce383e, #dd403c, #ec4939, #ec4939, #ec4939, #ec4939, #dd403c, #ce383e, #be303f, #ae2a3f);
  }
  #body-menu .card-container-top .card-container {
    margin: 1rem 0;
  }
  #body-menu .card-container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: unset;
    flex-flow: column wrap;
    background-image: linear-gradient(to right, #ae2a3f, #be303f, #ce383e, #dd403c, #ec4939, #ec4939, #ec4939, #ec4939, #dd403c, #ce383e, #be303f, #ae2a3f);
  }
  #body-menu .card-container-bottom .card-container {
    margin: 1rem 0;
  }
  .body-nosotros {
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0;
  }
  .body-nosotros .nosotros-main {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }
  .body-nosotros .nosotros-main .nosotros-historia {
    margin: 2rem 1rem;
  }
  .body-nosotros .contenedor-h1-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .body-nosotros .contenedor-h1-nosotros .nosotros-conocenos {
    margin: 0;
    width: 90%;
    font-size: 3em;
  }
  .body-nosotros .section-fotos {
    width: 100%;
    height: unset;
    display: flex;
    flex-direction: column;
    margin: 1 auto;
    gap: 20px;
  }
  .body-nosotros .section-fotos .img-nosotros {
    width: 100%;
  }
  .body-nosotros .section-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: unset;
    background: none;
    background-color: #AE2A3F;
    flex-flow: column wrap;
  }
  .body-nosotros .section-videos .video-nosotros {
    width: 80%;
    height: unset;
    margin: 1rem 0;
    border: none;
  }
  .body-promos {
    width: 100%;
    height: 100vh;
    display: block;
    margin: 0;
    background-color: #AE2A3F;
  }
  .body-promos .contenedor-h1-promos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: unset;
  }
  .body-promos .contenedor-h1-promos .promo-h1 {
    font-size: 3em;
    width: 90%;
  }
  .body-promos .promo-section-top {
    width: 100%;
    height: unset;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: column;
    margin: 0 auto;
    background-image: linear-gradient(to right, #ae2a3f, #be303f, #ce383e, #dd403c, #ec4939, #ec4939, #ec4939, #ec4939, #dd403c, #ce383e, #be303f, #ae2a3f);
  }
  .body-promos .promo-section-top .promo-img {
    margin: 0 auto 1rem;
    width: 90%;
    height: unset;
  }
  .body-promos .promo-section-bottom {
    width: 100%;
    height: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    flex-direction: column;
    background-image: linear-gradient(to right, #ae2a3f, #be303f, #ce383e, #dd403c, #ec4939, #ec4939, #ec4939, #ec4939, #dd403c, #ce383e, #be303f, #ae2a3f);
  }
  .body-promos .promo-section-bottom .promo-img {
    margin: 0 auto 1rem;
    width: 90%;
    height: unset;
  }
  .body-promos .contenedor-h2-mediospago {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: auto;
  }
  .body-promos .contenedor-h2-mediospago .medio-pago {
    text-align: center;
    width: 80%;
    font-size: 3em;
    margin: 0;
  }
  .body-promos .section-mediopagos {
    width: 100%;
    height: unset;
    padding-bottom: 10px;
    background: none;
    display: flex;
    flex-wrap: wrap;
  }
  .body-promos .section-mediopagos .caja-efectivo,
  .body-promos .section-mediopagos .tarjetas,
  .body-promos .section-mediopagos .mercado-pago {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 250px;
    background-color: #AE2A3F;
    margin: 1rem auto;
    border: 1px solid #1C3334;
    border-radius: 5px;
    box-shadow: 4px 4px 8px #1C3334;
  }
  /*contacto breakpoint a 360-380px, ver de solucionar*/
  .body-contacto {
    width: 100%;
    height: unset;
    display: block;
    margin: 0;
  }
  .body-contacto .contenedor-h1-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1C3334;
  }
  .body-contacto .contenedor-h1-contacto .contacto-h1 {
    width: 90%;
    font-size: 3em;
  }
  .body-contacto .contenedor-h1-contacto .contacto-h1 .contacto-h1 span {
    display: none;
  }
  .body-contacto .contenedor-banner {
    width: 100%;
    height: unset;
  }
  .body-contacto .contenedor-banner .banner-contacto {
    width: 100%;
    height: 150px;
  }
  .body-contacto .main-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column wrap;
    background: none;
    background-color: #AE2A3F;
  }
  .body-contacto .main-contacto .form-contacto {
    margin: 1rem 0;
  }
  .body-contacto .main-contacto .form-contacto .boton-contacto {
    width: 50%;
  }
  .body-contacto .main-contacto .contenedor-mapa {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .body-contacto .main-contacto .contenedor-mapa .mapa {
    width: 100%;
  }
  /*cierre body-contacto*/
} /*cierre querie*/
@media (max-width: 531px) { /*breakpoint*/
  .navbar-toggler {
    margin-top: 2em;
    margin-right: 1em;
  }
}

/*# sourceMappingURL=estilos.css.map */
