html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
}

/* fuente*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');


/* estilos index*/
/*fondo index*/

.body-index {
    width: 100%;
    background-image: url(../imgs/Main/fondo2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 3px;    
    grid-template-areas:
    "header"
    "main"
    "section"
    "footer";
    min-height: 100vh;
}


/*header*/
#header {
    position:sticky;
    top: 0;
    z-index: 100;
    display: flex;
    background-color: #AE2A3F;
    border: solid 1px #000000;
    width: 100%;
    height: 100px;
}


/*logo*/
#logo { 
    position: relative;
    width: 200px;
    height: 122px;
    padding-bottom: 6%;

}

#nav ul li a{
    color: rgb(255, 255, 255)
    ;
}

/*links header*/
#header div a {
    color: rgb(255, 255, 255);
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar-toggler-icon {
    color: black;
}

*/

#nav ul { 
    padding: 10px;
    display: inline-flex;
    align-items: center;
    height: 110px;

}

#nav ul li {
    list-style-type: none;
}
#nav ul li a { 
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    margin: 30px;
    text-decoration: none;
}


#nav ul li a:hover{
    color: #000000;
    transition: 0.4s ease;
    transform: scale(1.1);

}

#nav ul li a#active {

    color: black;
}
    /*
    text-transform: bolder;
/*

/*iconos redes*/
.fa-instagram,
.fa-facebook,
.fa-whatsapp,
.fa-twitter {
    background-color: #000000;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;

}

#logo-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 250px;
    height: 100px;

}

#logo-redes i:hover {
    transition: 0.3s ease;
    background-color: #ffffff;
    color: #AE2A3F;
    opacity: 0.7;
    transform: scale(1.09);
} 

/*prueba*/

/*seccion principal*/
#main-index {

    background-image: url(../imgs/Main/fondo-volvimos.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    color: #ffffff;
    border: #000000 1px solid;
}

.main-overlay {
    width: 100%;
    height: 600px;
    background-color: black;
    opacity: 0.9;
}

#contenedor-volvimos{
    display: grid;
    row-gap: 10px;
    grid-template-areas:
    "h1"
    "volvimos"
    ;
    width: 100%;
    height: 370px;
    font-size: 32px;
    margin-top: 50px;
    padding: 0px;
    justify-content: center;
}

#contenedor-volvimos h3 {
    font-size: 30px;
    text-align: center;
    letter-spacing: 8px;
}
/* texto main*/
.texto-index {
    letter-spacing: 1px;
    color: white;
    font-size: 24px;
}

/* h1 main*/

.volvimos {
    letter-spacing: 15px;
    font-weight: bold;
    width: 100%;
    height: 100px;
    display: grid;
    grid-area: h1;
    color: #ffffff;
    font-size: 90px;
    margin-top: 10px;
    font-family: sans-serif;
    text-align: center;
    font:x-large;
    
}


/* botones main*/

#contenedor-botones-index {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;

}
main div a { 
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    height: 40px;
    background-color: #AE2A3F;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    text-decoration: none;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    border: #000000 1px solid;
    letter-spacing: 2px;
    box-shadow: 1px 3px 5px 0px rgb(173, 96, 96);
}

.boton:hover {
    color: #ee7b7b;
    background-color: #383838;
    transition: 0.3s ease;
    transform: scale(1.1);
    box-shadow: 1px 3px 5px 0px rgb(66, 66, 66);
}

/* seccion novedades */

.index-section-bottom {
    display: flex;
    flex-direction: column;
    background-color: #AE2A3F;
    font-size: 40px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}



/*novedades h3*/
section h3 {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 30px;
    grid-area: h3;
    justify-content: center;
}

#novedad {
    font-size: larger;
    letter-spacing: 2px;
    display: grid;
    width: 100%;
    height: 50px;
}

section div {
    display: grid;
    justify-content: space-around;

}
/*foto pizza party */
#pizzaparty {
    display: flex;
    width: 500px;
    height: 600px;
    border: #000000 1px solid;
    box-shadow: 0 0 20px black;
}

#pizzaparty:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

/* video novedades */
#video-index {
    display: flex;
    border: #000000 1px solid;
    width: 500px;
    height: 600px;
    padding: 15px; 
    top: 0px; 
    box-shadow: 0 0 20px black;
}

#video-index:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

/*foto novedades */
#logo-novedad {
    display: flex;
    width: 450px;
    height: 600px;
}
#contenedor-videos-index {
    display: flex;
    width: 100%;
    height: 600px;
}


/*estilos del footer*/

.scroll-up-container {
    position: fixed;
    bottom: 16px;
    right: 16px;
}


.scroll-up-container a img:hover {
    background-color: white;
    border-radius: 100%;
    transition: 0.3s ease;
    transform: scale(0.9);

}

#footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto ;
    color: white;
    background-color: #464545;
    justify-content: space-between;
    align-items: center;
    margin: 0; 
}
/* enlaces */
#footer a {
    color: white;
    text-decoration: none;

}
/* iconos redes */
#footer-redes {
    margin-top: 10px;
    display: flex;
}
#footer-redes a {
    display: inline-flex;
    padding: 3px;
}

#footer-redes i:hover {
    background-color: #ffffff;
    color: #464545;
    opacity: 0.7;
    transform: scale(1.1);
    transition: 0.3s ease;
}

#footer-info {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;
    letter-spacing: 8px;

}

#footer-info h3 {
    font-size: 20px;
    margin:0;
    padding: 10px;
    letter-spacing: 1px;
    font-size: larger;
    letter-spacing: 8px;
}

#footer-ubicacion {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    height: auto;
    font-size: 16px;
    justify-content: center;
    align-items: space-between;
    letter-spacing: 8px;
}


#footer-envelope {

    justify-content: center;
    align-items: center;
}

#footer-phone {
    align-items: center;
    justify-content: center;
}

#footer-hora {
margin-top: 1%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-wrap: wrap;
color: #ffffff;
font-size: 16px;
text-align: center;
height: auto;
letter-spacing: 8px;
}

#footer-ubicacion h3,
#footer-hora h3 {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    margin: 0;
}
#footer-ubicacion p,
#footer-hora p {
    margin: 0;

}

/*estilos menu*/

/*fondo*/
#body-menu {
    position: absolute;
    width: 100%;
    background-image: url(../imgs/Menu/fondo-menu-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*h1 menu*/
#nuestro-menu {
    margin: 0;
    width: 100%;
    background-color: black;
    color: #AE2A3F;
    padding: 40px;
    text-align: center;
    font-size: 60px;
    
}
/*h1 span*/
.nuestro {
    color:white;
    
}
.card-container-top, 
.card-container-bottom {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    border: 1px solid black;
    box-shadow: 0 0 10px;
    height: 280px;
    margin: 10px;
    padding: 10px 10px 0 10px;
    background-color: #AE2A3F;
}


.card p {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 1px;
}

.card img {
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 0 0 15px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

/*seccion superior*/
#menu-section-top {
    width: 100%;
    background-color: #AE2A3F;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    
}

.menu-section-top img {
    box-shadow: 0 0 10px;
    border: 1px solid black;
}

/*seccion baja*/
#menu-section-bottom {
    width: 100%;
    background-color: #AE2A3F;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;

}

/*estilo nosotros*/ 

#body-nosotros{
    background-image: url(../imgs/Nosotros/Fondo\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#nosotros-conocenos {
    color: white;
    background-color: black;
    margin: 0 auto;
    text-align: center;
    padding: 35px;
    font-size: 60px;
    width: 90%;
}
.conocenos-span {
    color: #AE2A3F;
}

main p h3 {
    color: #AE2A3F;
}

.nosotros-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: auto;
    width: 90%;
}

.img-1 {
    width: 350px;
    height: 500px;
}
.img-2 {
    width: 350px;
    height: 500px;
}

#nosotros-historia {
    color:#ffffff ;
    font-size: 24px;
    text-align: center;
    margin: 0 20px;
    letter-spacing: 2p
}

#section-fotos {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 106px 0 106px;
}

#section-videos {
    background-image: url(../imgs/Nosotros/fondo-Videos.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 106px 0 106px;
    background-color: #AE2A3F;
    width: 90%;
    height: 520px;
}
.video-nosotros {
    height: 450px;  
    width: 400px;   
    border: 2px solid black;
    border-radius: 2px;
    box-shadow: 0 0 10px rgb(0, 0, 0)

}

/*estilo promociones*/

#body-promos {
    background-image: url(../imgs/Promos/Fondo\ promos.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-h1 { 
    display: flex;
    justify-content: center;
    color:#ffffff;
    background-color: black;
    margin: 0 106px 0 106px;
    padding: 40px;
    font-size: 60px;
    width: 90%;    
}

.promo-section-top {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 106px 0 106px;
}

.promo-section-bottom {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 106px 0 106px;
}

.promo-img {
    width: 550px;
    height: 700px;
    margin: 5px;
    box-shadow: 0 0 10px grey;
}

    /*estilo medios de pago*/
#medios-pago{
    height: 320px;
    display: flex;
    background-image:url(../imgs/Promos/fondo-pagos.png);
    width: 90%;
    margin: 0 106px 0 106px;
    justify-content: space-around;
    align-items: center;
}

.medio-pago {
    color: #ffffff;
    background-color: black;
    font-size: 50px;
    margin-left: 106px;
    margin-right: 106px;
    text-align: center;
    padding: 40px;
    width: 90%;
}

.h3-medios-de-pago {
    display: flex;
    font-size: 24px;
    text-decoration: underline 2px white;
    align-self: center;
}

.caja-efectivo {
    border: 1px solid black;
    width: 300px;
    height: 240px;
    display: flex;
    box-shadow: 0 0 10px black;
    flex-direction: column;
    
}

.caja-efectivo:hover {
    transform: scale(1.09);
    transition: 0.2s ease;
}

.efectivo {
    width: 150px;
    height: 150px;
    margin: 0 25% 0 25%;
}   
.tarjetas {
    border: 1px solid black;
    width: 350px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px black;

}

.tarjeta {
    display: flex;
    width: 320px;
    height: 150px;
}

.mercado-pago {
    border: 1px solid black;
    width: 300px;
    height: 240px;
    display: flex;
    box-shadow: 0 0 10px black;
    flex-direction: column;
    align-items: center;
    
}

.mercado-pago-img {
    display: flex;
    width: 150px;
    height: 150px;
}


/*estilo contacto*/

#body-contacto {
    background-image: url(../imgs/Contacto/fondo-contacto.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto-h1 {
    display: flex;
    justify-content: center;
    color:#ffffff;
    background-color: black;
    margin: 0 106px 0 106px;
    padding: 40px;
    font-size: 60px;
    width: 90%;    
}

.contacto-h1 span {
    color: #AE2A3F;
}
.banner-contacto{
    width: 90%;
    margin: 1px 106px 0 106px;
    border: 1px solid black;
}

#main-contacto {
    background-image: url(../imgs/Promos/fondo-pagos.png);
    background-size: cover;
    width: 90%;
    height: 500px;
    margin: 0 106px 0 106px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*formulario de contacto*/

.form-contacto{
    margin: 10px 0 0 0;
    padding: 10px;
    font-size: 20px;
    width: 700px;
    height: 450px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 0 15px black
}

.campo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
    background-color: rgb(61, 60, 60);
    width: 80%;
    padding: 10px;
    border: 3px solid black;
    margin: 10px 0;
    border-radius: 5px;
}

.caja-mensaje {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    width: 80%;
    height: 180px;
    resize: none;
    border: 3px solid black;
    background-color: rgb(61, 60, 60)
}

.boton-contacto {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 1px;
    width: 30%;
    margin: 10px;
    padding: 10px;
    color: #ffffff;
    background-color: rgb(61, 60, 60);
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px black;
    border: 1px solid black;
}

.boton-contacto:hover {
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    background-color: #9e5858;
    transition: 0.3s ease;
    transform: scale(1.05);

}

input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 10px 0 black;
    transition: 1s ease;
}

textarea:focus::placeholder,
input:focus::placeholder {
    color: transparent;
    transition: 0.1s ease;
}

::placeholder {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
}

.caja-mensaje:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s ease;
    transform: scale(1.01);
    background-color: #9e5858;
    color: #000000;
}

.campo:hover {
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.2s ease;
    transform: scale(1.05);
    background-color: #9e5858;
}

.campo:focus{
    color: white;
    text-align: center;
    
}

.mapa {
    display: flex;
    padding: 10px;
    margin: 10px 0 0 0;
    justify-content: space-around;
    width: 700px;
    height: 400px;
    border: 2px solid black;
    box-shadow: 0 0 10px 0 black;
}

/*media movil*/
@media (max-width: 600px){
    .sidebar{
        background-color: rgba(174, 42, 63, 0.70);
        backdrop-filter: blur(20px);
        letter-spacing: 2px;
    }

    #body-index{
        display: block;
        padding: 0;
        margin: 0;
    }



    header  {
        display: flex;
        justify-content: center;
        width: 100%;
        height: unset;
    }


    #logo{
        height: 96px;
    }

    nav {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .offcanvas-backdrop.fade.show{
        display:none;
    }

    #logo-redes {
        width: unset;
        margin: 5px auto 0;
    
    }

    #main-index {
        height: unset;
    }

    #index-section-bottom {
        display: block;
        margin: 0px;
        height: unset;
        width: 100%;
    }

    #novedad {
        display: flex;
        align-items: center;
    }

    h3#novedad {
        margin: 0;
        padding: 1em;

    }

    #contenedor-videos-index {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        
    }

    #contenedor-videos-index section div {
        display: flex;
        justify-content: space-around;
    }

    #pizzaparty {
        width: 100%;
        height: unset;
        margin-bottom: 2rem;
        border: none;
    }
    #logo-novedad {
        width: 100%;
        display: none;
    }

    #video-index {
        width: 100%;
        margin-bottom: 2rem;
    }

    .volvimos {
        font-size: 26px; 
    }

    #contenedor-volvimos h3 {
        font-size: 18px;
    }

    .main-overlay {
        height: unset;
        padding: 0 2em;
    }

    .volvimos {
        height: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1em;
    }

    .volvimos h3 {
        height: unset;
        font-size: 16px;
    }

    #contenedor-botones-index {
        height: unset;
    }

    #footer {
        height: unset;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    #footer-info {
        margin-top: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        letter-spacing: 2px;
    }

    #footer-redes {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    #footer-hora {
        width: 100%;
        height: auto;
        letter-spacing: 2px;

    }

    #footer-phone {
        padding: 0;
    }

    #footer-ubicacion {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        height: auto;
        letter-spacing: 6px;
    }

    #footer-ubicacion h3,
    #footer-hora h3 {
        font-size: 18px;
    }

    .scroll-up-container {
        display: none;
    }


    #body-menu{
        display: block;
        margin: 0;
        padding-right: 0;
        height: unset;
        width: 100%;
    
    }

    #nuestro-menu {
        padding: 20px;
        font-size: 3em;
    }

    #menu-section-top {
        display: flex;
        width: 100%;
        height: unset;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    #menu-section-top img {
        margin-bottom: 1rem;
    }

    .card-container-top,
    .card-container-bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        height: unset;
        background: linear-gradient(270deg, #ae2a3f, grey, #000);

    }

    #menu-section-bottom {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #menu-section-bottom img {
        margin-bottom: 1rem;
    }
}   










