/*estilos del footer*/
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto ;
    color: map-get($colores , detalles-violeta) ;
    background-color: map-get($colores , salmon-claro) ;
    justify-content: space-between;
    align-items: center;
    margin: 0; 
;
    a {/* enlaces */
        color: map-get($colores , detalles-violeta) ;
        text-decoration: none;
    }
    .footer-redes {/* iconos redes */
        margin-top: 10px;
        display: flex;
        .fa-instagram,
        .fa-facebook,
        .fa-whatsapp,
        .fa-twitter {/*iconos redes*/
            background-color: map-get($colores , salmon-oscuro);
            padding: 10px;
            margin: 5px;
            border-radius: 50px;
        }
        a {
            display: inline-flex;
            padding: 3px;
            i {
                transform: scale(1.1);
                transition: 0.3s ease;
                background-color: map-get($colores , salmon-oscuro);
                &:hover{
                    background-color:map-get($colores , secundario);
                    color: map-get($colores , terciario);
                    opacity: 0.7;
                }
            }
        }
    }
    .footer-info {/*info del footer*/
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1%;
        letter-spacing: 8px;
        h3 {
            font-size: 22px;
            margin:0;
            padding: 10px;
            letter-spacing: 8px;
        }
        a {
            color:map-get($colores, detalles-naranja) ;  

        } 
        #footer-envelope {
            font-size: 22px;
        }
        #footer-phone {
            font-size: 22px;
        }
    }
    .footer-ubicacion {/*footer ubicacion*/
        margin-top: 1%;
        display: flex;
        flex-direction: column;
        height: auto;
        letter-spacing: 8px;
        h3 {
            font-size: 22px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: underline;
            margin: 0;
        }        
        p {
            margin: 0;
            font-size: 20px;
        }
    }
    .footer-hora {
        margin-top: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: map-get($colores , detalles-violeta) ;
        height: auto;
        letter-spacing: 8px;
        h3 {
        font-size: 22px;
        text-decoration: underline;
        margin: 0;
        }
        p{
            margin: 0;
            font-size: 20px;
            }
    }
    .scroll-up-container {
        position: fixed;
        bottom: 16px;
        right: 16px;
        a img:hover {
            background-color: map-get($colores, detalles-naranja);
            border-radius: 100%;
            transition: 0.3s ease;
            transform: scale(0.9);
        }
    }
}