/*MIXINS*/
@mixin flex-center($display, $horizontal, $vertical){
    display: $display;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin medidas ($ancho, $alto,){
    width: $ancho;
    height: $alto;
}

@mixin margenes ($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right ; 
    margin-bottom: $bottom;
    margin-left: $left;
}