.nosotros-conocenos {
    color: map-get($colores , terciario);
    background-color: map-get($colores , secundario);
    margin: 0 auto;
    text-align: center;
    padding: 35px;
    font-size: 60px;
    width: 90%;
    .conocenos-span {
        color: map-get($colores, detalles-naranja);
    }
}

.nosotros-main { /*main nosotros*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: auto;
    width: 90%;
    background-color:map-get($colores , terciario);
    padding: 10px;
    .img-nosotros{
        width: 400px;
        height: 500px; 
    }
    .nosotros-historia {
        color:map-get($colores , secundario);
        font-size: 24px;
        text-align: center;
        margin: 0 20px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    .img-2{
        width: 400px;
        height: 500px;
        }
}

.section-fotos { /*seccion fotos*/
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    align-items: center;
    background-color: map-get($colores , salmon-claro) ;
    .img-nosotros{
        width: 400px;
        height: 500px; 
    }
}

.section-videos { /*seccion videos*/
    background-image: url(../imgs/Nosotros/fondo-Videos.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    background-color: map-get($colores , primario);
    width: 90%;
    height: 520px;
    .video-nosotros { /*videos*/
        height: 450px;  
        width: 30%;   
        border: 2px solid black;
        border-radius: 2px;
        box-shadow: 0 0 10px rgb(0, 0, 0)
    }
}