/*media movil*/
@media (min-width:320px) and (max-width: 600px){

    .header {
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        nav {
            width: 100%;
            padding: 0;
            margin: 0;
            .container{
                width: 100%;
                margin: 0 auto;
                .navbar-toggler{
                    margin-top: 2em;
                }
                .navbar-brand {
                    display: flex;
                    height: 116px;
                    margin: 0;
                    position: relative;
                    left: 3em;
                } 
                .sidebar{
                    background-color: rgba(174, 42, 63, 0.70);
                    backdrop-filter: blur(20px);
                    letter-spacing: 2px;
                    }
                    .offcanvas-backdrop.fade.show{
                        background-color: map-get($colores, secundario);
                    }
                    .navbar-nav{
                        width: 100%;
                        height: 80%;
                        align-items: center!important;
                        justify-content: center;
                        .nav-link {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 120px;
                            height: unset;
                        }
                    }
                    #logo-redes {
                        width: unset;
                        margin: 5px auto 0;    
                }
            }
        }
    }


    .body-index{
        display: block;
        width: 100%;
        height: unset;
        padding: 0;
        margin: 0;
        .main-index {
            width: 100%;
            height: unset;
            .main-overlay {
                height: unset;
                padding: 0 2em;  
                .contenedor-volvimos {
                    @include medidas (100%, unset);
                    margin-top: 1em;
                    .volvimos {
                        @include flex-center (flex, center, center);
                        @include medidas (100%, unset);
                        text-align: left;
                        font-size: 2em;
                        color:map-get($colores , salmon-claro) ; 
                        .volvimos-span{
                            font-size: 1em
                        }
                    }
                    .volvimos-h3 {
                        font-size: 1em;
                        height: unset;
                        color: map-get($colores , salmon-oscuro);
                    }
                }
                .contenedor-botones-index{
                    height: unset;
                }
            }
        }
    
        .index-section-bottom {
            display: block;
            margin: 0 auto;
            height: unset;
            width: 100%;
            .novedad {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 1em;
                animation-name: none;
            }
            .contenedor-videos-index {
                display: flex;
                width: 100%;
                flex-direction: column;
                flex-wrap: wrap;
                height: auto;
                align-items: center;
                justify-content: space-around;
                .pizzaparty {
                    width: 100%;
                    height: unset;
                    margin-bottom: 2rem;
                    border: none;
                }
                .video-index {
                    width: 100%;
                    margin-bottom: 2rem;
                }
                .logo-novedad {
                    width: 100%;
                    display: none;
                }
            }
        }
    }
    .footer {
        height: unset;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        .footer-info {
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            #footer-phone {
                font-size: 18px;
                padding: 0;
            }
            #footer-envelope {
                font-size: 18px;
            }
            h3 {
                font-size: 18px;
            }
        }
        #footer-redes {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        .footer-hora {
            width: 100%;
            height: auto;
            h3 {
                font-size: 18px;
            }
            p {
                letter-spacing: 0;
            }
        }
        #footer-ubicacion {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            justify-content: center;
            align-items: center;
            height: auto;
            h3{
                font-size: 18px;
            }
            p {
                letter-spacing: 0;
            }
        }
        
    }

    #body-menu {
    .contenedor-h1-menu{
        height: auto;
        width: 100%;
        .nuestro-menu {
            padding: 20px;
            font-size: 3em;
            width: 100%;
        }
    }
    #menu-section-top {
        display: flex;
        width: 100%;
        height: unset;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .img-menu {
            margin: 0 auto 1rem;
            width: 90%;
        }
    }
    .menu-section-bottom {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        .menu-img{
            margin: 0 auto 1rem;
            width: 90%;
        }
    }  
    
    .card-container-top{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        height: unset;
        background-image: linear-gradient(to right, #ae2a3f, #be303f, #ce383e, #dd403c, #ec4939, #ec4939, #ec4939, #ec4939, #dd403c, #ce383e, #be303f, #ae2a3f);
            
        .card-container {
            margin: 1rem 0;
        }
    }
    .card-container-bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        height: unset;
        background-image: linear-gradient(to right, #ae2a3f, #be303f, #ce383e, #dd403c, #ec4939, #ec4939, #ec4939, #ec4939, #dd403c, #ce383e, #be303f, #ae2a3f);
        .card-container {
            margin: 1rem 0;    
        }
    }
}
    
    .body-nosotros {
        display: block;
        width: 100%;
        margin: 0;
        height: unset;
        .nosotros-main {
            display: flex;
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            .nosotros-historia {
                margin: 2rem 1rem;
            }
        }
        .contenedor-h1-nosotros{
            padding: 15px;
            width: 100%;
        .nosotros-conocenos {
            color: map-get($colores, detalles-naranja);
            margin: 0;
            font-size: 3em;
            .conocenos-span {
                display: none;
            }
        }
        }
        .section-fotos {
            @include medidas (100%, unset);
            display: flex;
            flex-direction: column;
            margin: 1 auto;
            gap: 20px;
            width: 100%;

            .img-nosotros {
                width: 100%;  
            }
        }
        .section-videos {
            background: none;
            background-color: map-get($colores , primario);;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;
            height: unset;
            .video-nosotros {
                height: unset;
                width: 80%;
                margin: 1rem 0;
                border: none;
            }
        }
    }
    
    
    .body-promos {
        display: block;
        width: 100%;
        margin: 0;
        height: unset;
        background-image: none;
        background-color: map-get($colores , primario);

        .contenedor-h1-promos {
            padding: 20px;
            @include medidas (100%, unset);
            .promo-h1 {
            font-size: 3em;
            }
        }
        .promo-section-top {
            @include medidas (100%, unset);
            padding-top: 30px;
            @include flex-center (flex, space-around, space-around);
            flex-direction: column;
            margin: 0 auto;
            background-image: linear-gradient(to right, #ae2a3f, #be303f, #ce383e, #dd403c, #ec4939, #ec4939, #ec4939, #ec4939, #dd403c, #ce383e, #be303f, #ae2a3f);
            .promo-img {
                margin: 0 auto 1rem;
                @include medidas (90%, unset);
            }
        }
        .promo-section-bottom {
            @include medidas (100%, unset);
            padding-top: 4px;
            @include flex-center (flex, center, center);
            flex-direction: column;
            background-image: linear-gradient(to right, #ae2a3f, #be303f, #ce383e, #dd403c, #ec4939, #ec4939, #ec4939, #ec4939, #dd403c, #ce383e, #be303f, #ae2a3f);
            .promo-img {
                margin: 0 auto 1rem;
                @include medidas (90%, unset);
            }
        }

        .contenedor-h2-mediospago{
                @include medidas (100%, auto);
            .medio-pago {
                padding: 20px;
                font-size: 3em;
            }
        }
        .section-mediopagos{
            @include medidas (100%, unset);
            padding-bottom: 10px;
            background: none;
            display: flex;
            flex-wrap: wrap;
            .caja-efectivo,
        .tarjetas,
        .mercado-pago{
            background-color: map-get($colores, primario);
            @include flex-center(flex, center, center);
            @include medidas (60%, 250px);
            margin: 1rem auto;
            border: 1px solid map-get($colores, secundario );
            @include shadow (5px, 4px);
        }
        }
        
    }
    
/*contacto breakpoint a 360-380px, ver de solucionar*/
    .body-contacto {
        display: block;
        width: 100%;
        margin: 0;
        height: unset;
        
        .contenedor-h1-contacto {
            width: 100%;
            padding: 15px;
            .contacto-h1{
                font-size: 3em;
                color:map-get($colores, detalles-naranja);
                .contacto-h1 span{
                    display: none;
                }
            }
        }
        .contenedor-banner{ 
            width: 100%;
            height: unset;
        }
        .main-contacto{
            @include flex-center(flex, center,center);
            width: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            background: none;
            background-color: map-get($colores , primario);;
            
            .form-contacto{
            margin: 1rem 0;
                .boton-contacto {
                width: 50%;
                }
            }
            .contenedor-mapa{
                width: 100%;
                margin: 0 auto;
                padding: 0;
                .mapa {
                    width: 100%;
                }
            }
        }
        
    }/*cierre body-contacto*/
} /*cierre querie*/  

@media (max-width: 531px){ /*breakpoint*/
    .navbar-toggler{
        margin-top: 2em;
        margin-right: 1em ;
    }

}