
/*estilo contacto*/

.body-contacto {
    background-image: url(../imgs/Contacto/fondo-contacto.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .contenedor-h1-contacto{
        @include medidas (90%, unset);
        color:map-get($colores , terciario);
        background-color:map-get($colores , secundario);
        animation-name: fadeInUp;
        animation-duration: 1s;
        margin: 0 auto;
        padding: 40px;
    .contacto-h1 { /*texto contacto*/
        @include flex-center(flex, center, center);
        margin: 0 auto;

        font-size: 60px;
        animation-name: bounceIn;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        span {
            color: map-get($colores , detalles-naranja);
            } 
        } 
    }
    .contenedor-banner { /*banner contacto*/
        @include medidas (90%, unset);
        margin: 1px auto 2px;
        .banner-contacto {
            animation-name: slideInUp;
            animation-duration: 1.5s;
            animation-timing-function: ease-in;
            width: 100%;
            @include shadow (5px, 5px);
        }
    }
    
    .main-contacto {/*main contacto*/
        background-image: url(../imgs/Promos/fondo-pagos.png);
        background-size: cover;
        @include medidas (90%, 100%);
        @include flex-center(flex, space-evenly,center);
        padding: 20px;
        margin: 0 auto;
        animation-name: slideInUp;
        animation-duration: 1.9s;
        animation-timing-function: ease-in;
        @include shadow (5px, 2px);
    
        .form-contacto{    /*formulario de contacto*/
            padding: 14px;
            font-size: 20px;
            @include medidas (100%, 100%);
            text-align: center;
            @include shadow (5px, 2px);
            border: 1px solid map-get($colores, secundario );
                .campo {     /*campo*/
                font-family: "Poppins", sans-serif;
                font-weight: bolder;
                text-align: center;
                color: map-get($colores , terciario);
                background-color: map-get($colores , secundario);
                @include medidas (80%, 100%);
                padding: 10px;
                border: 1px solid map-get($colores , secundario);
                margin: 10px 0;
                @include shadow (5px, 2px);
                transition: 0.4s ease;
                &::placeholder {
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: map-get($colores , terciario );
                    text-align: center;
                }
                &:hover {
                color: map-get($colores , terciario);
                transform: scale(1.05);
                }
                &:focus{
                outline: none;
                box-shadow: 0 0 10px 0 black;
                transition: 1s ease;
                color: map-get($colores , terciario);
                text-align: center;
                &::placeholder {
                    transition: 0.1s ease;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: transparent;
                    text-align: center;
                    }
                }
            }
            .caja-mensaje { /*mensaje*/
                @include tipografia(16px, unset, bolder);
                line-height: 20px;
                text-align: center;
                color: map-get($colores , terciario);
                @include medidas(80%, 180px);
                resize: none;
                border: 1px solid map-get($colores , secundario);
                background-color: map-get($colores , secundario);
                border-radius: 5px;
                @include shadow (5px, 2px);
                transition: 0.4s ease;
                &:hover {   
                    transform: scale(1.05);
                }
                &:focus{    
                    outline: none;
                    @include shadow (5px, 2px);
                    transition: 1s ease;
                    color: map-get($colores , terciario);
                    text-align: center;
                    &::placeholder {
                        transition: 0.1s ease;
                        font-size: 16px;
                        letter-spacing: 1px;
                        color: transparent;
                        text-align: center;
                    }
                }
                &::placeholder {
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: map-get($colores , terciario);
                    text-align: center;
                }
            }
            .contenedor-boton-contacto{
                        @include medidas (100%, 60px);
                        @include flex-center(flex, center, center);
                .boton-contacto {
                    border: 1px solid map-get($colores, secundario );
                    font-weight: bolder;
                    letter-spacing: 2px;
                    font-size: 20px;
                    @include medidas (40%, unset);
                    transition: 0.6s ease;
                    @include boton (map-get($colores, detalles-naranja), map-get($colores, terciario));
                    &:hover {
                        transform: scale(1.05);
                        color: map-get($colores , salmon-claro) ;
                        background-color: map-get($colores , secundario);
                    }
                }
            }
        }

        .contenedor-mapa {
            @include flex-center(flex,center, center);
            @include medidas (100%, 100%);
            @include shadow(5px, 2px);
            border: 1px solid map-get($colores, secundario);
            padding: 10px;
            margin-left: 1rem;
            .mapa {
                width: 90%;
                @include shadow(5px, 5px);
            }
        }
    }
}


