
#body-menu {/*estilos menu*/
    position: absolute;
    width: $full-width;
    background-image: url(../imgs/menu/fondo-menu-3.webp); /*fondo*/
    background-repeat: no-repeat;
    background-size: cover; 
    .contenedor-h1-menu{
        width: 90%;
        margin: 0 auto;
        padding: 40px;
        background-color: map-get($colores , secundario);
        @include animate(fadeInUp, 1s, 1);
        .nuestro-menu {/*h1 menu*/
            width: 90%;
            margin: 0;
            @include font-roboto(700, false, 60px, 1);
            text-align: center;
            color: map-get($colores, detalles-naranja);
            @include animate(bounceIn, 3s, infinite);
            /*h1 span*/
            .nuestro {
                color:map-get($colores , terciario);
            }
        }
    }
    
    .menu-section-top {/*seccion superior*/
        @include flex(flex, space-around, center);
        width: 90%;
        margin: 0 auto;
        padding: 10px 0;
        background-color: map-get($colores , primario);
        @include animate(slideInUp, 2s, 1);
        .img-menu{ 
            width: 32%;
            @include shadow (5px, 5px);
        }
    }

    .card-container-top {
        @include medidas(100%, 320px);
        @include flex(flex, space-evenly, center);
        
        .card-container {
            position: relative;
            @include medidas(286px, 270px);
            perspective: 1000px;
        
        .card-1 {
            position: absolute;
            @include medidas(100%, 100%);
            transform-style: preserve-3d;
            transition: 1s ease;
        
            &:hover {
                transform: rotateY(180deg);
            }
        
            .card-front {
                position: absolute;
                padding: 10px 15px 0 15px;
                @include medidas(100%, 100%);
                @include flex(flex, space-around, center);
                flex-direction: column;
                border: 1px solid rgb(56, 54, 54);
                @include shadow(5px, 5px);
                background-color: map-get($colores, detalles-naranja);
                backface-visibility: hidden;
        
            img {
                border: 1px solid map-get($colores, secundario);
                @include shadow(5px, 5px);
                }
            }
        
            .card-body {
                @include flex(flex, space-around, center);
        
            p {
                @include font-roboto(700, false, 22px, 1);
                letter-spacing: 2px;
                text-align: center;
                color: map-get($colores, terciario);
                }
            }
        }
        
        .card-back {
            position: absolute;
            padding: 15px;
            @include medidas(100%, 100%);
            @include flex(flex, center, center);
            @include font-roboto(700, false, 20px, 1.5);
            flex-flow: column wrap;
            text-align: center;
            background-color: map-get($colores, secundario);
            color: map-get($colores, terciario);
            border: 1px solid rgb(56, 54, 54);
            @include shadow(5px, 5px);
            backface-visibility: hidden;
            transform: rotateY(180deg);
            }
        }
    }



    .card-container-bottom {
        @include medidas (100%, 320px);
        @include flex(flex, space-evenly, center);
        .card-container {
            position: relative;
            @include medidas(286px, 270px);
            perspective: 1000px;
        
        .card-1 {
            position: absolute;
            @include medidas(100%, 100%);
            transform-style: preserve-3d;
            transition: 1s ease;
        
            &:hover {
                transform: rotateY(180deg);
            }
        
            .card-front {
                position: absolute;
                padding: 10px 15px 0 15px;
                @include medidas(100%, 100%);
                @include flex(flex, space-around, center);
                flex-direction: column;
                border: 1px solid rgb(56, 54, 54);
                @include shadow(5px, 5px);
                background-color: map-get($colores, detalles-naranja);
                backface-visibility: hidden;
        
            img {
                border: 1px solid map-get($colores, secundario);
                @include shadow(5px, 5px);
                }
            }
        
            .card-body {
                @include flex(flex, space-around, center);
        
            p {
                @include font-roboto(700, false, 22px, 1);
                letter-spacing: 2px;
                text-align: center;
                color: map-get($colores, terciario);
                }
            }
        }
        
        .card-back {
            position: absolute;
            padding: 15px;
            @include medidas(100%, 100%);
            @include flex(flex, center, center);
            @include font-roboto(700, false, 20px, 1.5);
            flex-flow: column wrap;
            text-align: center;
            background-color: map-get($colores, secundario);
            color: map-get($colores, terciario);
            border: 1px solid rgb(56, 54, 54);
            @include shadow(5px, 5px);
            backface-visibility: hidden;
            transform: rotateY(180deg);
            }
        }
    }
    .menu-section-bottom {/*seccion baja*/
        width: 90%;
        margin: 0 auto;
        padding: 10px 0;
        @include flex(flex, space-around, center);
        background-color: map-get($colores , primario);
        .menu-img{
            width: 32%;
            @include shadow (5px, 5px);
        }
    }
}

