
/*estilo nosotros*/ 

.body-nosotros{
    background-image: url(../imgs/Nosotros/fondo-nosotros.webp);
    background-repeat: no-repeat;
    background-size: cover;
        .contenedor-h1-nosotros{
            margin: 0 auto;
            padding: 40px;
            width: 90%;
            color: map-get($colores , terciario);
            background-color: map-get($colores , secundario);
            text-align: center;
            @include animate(fadeInUp, 1s, 1);
        .nosotros-conocenos {
            margin: 0 auto;
            font-size: 60px;
            @include animate(bounceIn, 3s, infinite);
            .conocenos-span {
                color: map-get($colores, detalles-naranja);
            }
        }
    }
    .nosotros-main { /*main nosotros*/
        @include flex(flex, space-between, center);
        @include medidas (90%, auto);
        margin: 0 auto;
        padding: 10px;
        background-color:map-get($colores , terciario);
        @include animate(slideInUp, 2s, 1);
        animation-timing-function: ease-in;
        .img-nosotros{
            @include medidas (400px, 500px);
            @include shadow (5px, 10px);

        }
        .nosotros-historia {
            margin: 0 20px;
            @include font-roboto(700, false, 24px, 1.2);
            text-align: center;
            letter-spacing: 2px;
            color:map-get($colores , secundario);
        }
        .img-2{
            @include medidas (400px, 500px);
            @include shadow (5px, 10px);
            }
        }
    
    .section-fotos { /*seccion fotos*/
        @include flex(flex, space-between, center);
        margin: 0 auto;
        padding: 10px;
        @include medidas (90%, 550px);
        background-color: map-get($colores , salmon-claro) ;
        @include animate(slideInUp, 3s, 1);
        animation-timing-function: ease-in;
        .img-nosotros{
            @include medidas (400px, 500px);
            @include shadow (5px, 10px);
        }
    }
    
    .section-videos { /*seccion videos*/
        @include flex(flex, space-around,center);
        @include medidas (90%, 520px);
        margin: 0 auto;
        background-image: url(../imgs/Nosotros/fondo-Videos.png);
        background-size: cover;
        background-repeat: no-repeat;
        .video-nosotros { /*videos*/
            @include medidas (30%, 450px);
            @include shadow (2px, 5px);
            border: 1px solid map-get($colores , secundario );
        }
    }
}

