/*estilos del footer*/
.footer {
    @include medidas (100%, auto);
    @include flex(flex, space-between, center);
    flex-direction: column;
    color: map-get($colores , detalles-violeta) ;
    background-color: map-get($colores , salmon-claro) ;

    a {/* enlaces */
        text-decoration: none;
        color: map-get($colores , detalles-violeta) ;
    }
    .footer-redes {/* iconos redes */
        display: flex;
        margin-top: 10px;
        .fa-instagram,
        .fa-facebook,
        .fa-whatsapp,
        .fa-twitter {/*iconos redes*/
            padding: 10px;
            margin: 5px;
            background-color: map-get($colores , salmon-oscuro);
            @include shadow(50px, 2px);
        }
        a {
            display: inline-flex;
            padding: 3px;
            font-size: 20px;
            i {
                transition: 0.5s ease;
                background-color: map-get($colores , salmon-oscuro);
                &:hover{
                    color: map-get($colores , terciario);
                    background-color:map-get($colores , secundario);
                    @include shadow (5px, 5px);
                    transform: scale(1.1);
                    opacity: 0.7;
                }
            }
        }
    }
    .footer-info {/*info del footer*/
        height: auto;
        margin-top: 1%;
        @include flex(flex, center, center);
        flex-flow: column wrap;
        letter-spacing: 8px;
        h3 {
            padding: 10px;
            margin:0;
            @include font-roboto(500, false, 1.5rem,1.1);
            letter-spacing: 8px;
        }
        a {
            color:map-get($colores, detalles-naranja);  
        } 
        #footer-envelope {
            font-size: 22px;
        }
        #footer-phone {
            font-size: 22px;
        }
    }
    .footer-ubicacion {/*footer ubicacion*/
        margin-top: 1%;
        height: auto;
        display: flex;
        flex-direction: column;
        letter-spacing: 8px;
        h3 {
            margin: 0;
            @include font-roboto(700, false, 1.5rem, 1.1);
            @include flex(flex, center, center);
            text-decoration: underline;
            }        
        p {
            @include font-roboto(500, false, 1.2rem, 1.5);
            margin: 0;
            font-size: 20px;
        }
    }
    .footer-hora {
        height: auto;
        margin-top: 1%;
        @include flex(flex, center, center);
        flex-flow: column wrap;
        color: map-get($colores , detalles-violeta) ;
        letter-spacing: 8px;
        h3 {
            margin: 0;
        @include font-roboto(700, false, 1.5rem, 1.1);
        text-decoration: underline;
        }
        p{
            margin: 0;
            @include font-roboto(500, false, 1.2rem, 1.5);
            }
    }
    .scroll-up-container {
        position: fixed;
        bottom: 16px;
        right: 16px;
        transition: 0.5s ease;
        &:hover {
            background-color: map-get($colores, detalles-naranja);
            border-radius: 100%; 
            transform: scale(1.1);              
        }
    }
}