/*fondo index*/

.body-index {
    width: 100%;
    background-image: url(../imgs/Main/fondo-index.webp);
    background-repeat: no-repeat;
    background-size:cover;
    display: grid;
    grid-template-rows: auto 1fr auto;  
    grid-template-areas:
    "header"
    "main"
    "section"
    "footer";
    min-height: 100vh;
    .main-index {/*seccion principal*/
        background-image: url(../imgs/Main/fondo-volvimos.webp);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;  
        flex-wrap: wrap;
        @include medidas (90%, 600px);
        color: map-get($colores , salmon-claro) ;
        margin: 0 auto;
    
        .main-overlay {/*overlay main*/
            @include medidas (100%, 600px);
            background-color: rgba(map-get($colores , secundario), 0.9);
            margin: 0 auto;
        }
    
        .contenedor-volvimos{
            position: relative;
            @include flex-center(flex, space-around, center);
            flex-direction: column;
            @include medidas (100%, 370px);
            margin: 50px auto 0;
            padding: 0px;
            h3 {
                @include tipografia(30px, 'Roboto, sans-serif', bolder);
                position: relative;
                text-align: center;
                letter-spacing: 8px;
                animation-name: bounceInLeft;
                animation-duration: 2s;
            }
        }
    
        .texto-index {/*parrafo*/
            display: flex;
            @include medidas (100%, unset);
            letter-spacing: 1px;
            color: map-get($colores , terciario);
            font-size: 24px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }
        .volvimos {/* h1 main*/
            @include tipografia(90px, 'Roboto', bold);
            @include flex-center(flex, center, center);
            letter-spacing: 15px;
            @include medidas (100%, 100px);
            color: map-get($colores , terciario);
            margin-top: 10px;
            animation-name: bounceInRight;
            animation-duration: 2s;
            span {
                    color:map-get($colores, detalles-naranja);
                }
        }
        .contenedor-botones-index {/* botones main*/
            @include flex-center(flex, center, center);
            @include medidas (100%, 40px);
            animation-name: zoomInUp;
            animation-duration: 2s;
            a { 
                @include flex-center(flex, center, center);
                color: map-get($colores , terciario);
                font-size: 24px;
                background-color: map-get($colores, detalles-naranja);
                text-decoration: none;
                }
                
                .boton {
                    @include boton (map-get($colores, detalles-naranja), map-get($colores, terciario));
                    @include medidas (180px, unset);
                    letter-spacing: 2px;
                    margin: 20px;
                    transition: 0.5s ease;
                    @include shadow (5px, 2px, salmon-claro);          
                &:hover {
                    transform:scale(1.1);
                    @include shadow (5px, 4px, salmon-oscuro);
                    color: map-get($colores , terciario);  
                    background-image: linear-gradient(to top, #e94825, #ed4521, #f1411c, #f53d16, #f93910);
                    }
                }
            }
        }
    
    .index-section-bottom {/* seccion novedades */
        @include flex-center(flex, center, center);
        flex-direction: column;
        @include medidas (90%, unset);
        background-color:map-get($colores , primario);
        margin: 0 auto;
        padding-bottom: 20px;
        
        /*novedades h3*/
        h3 {
            @include flex-center(flex, center, center);
            color: map-get($colores , terciario);
            margin-top: 10px;
            font-size: 40px;
            margin-bottom: 30px;
            transition: 0.9s ease-in-out;
        }
        .novedad {
            @include medidas (100%, 50px);
            letter-spacing: 2px;
        }
        
        .contenedor-videos-index {
            @include medidas (100%, 620px);
            @include flex-center (flex, space-around,center);
    
            .pizzaparty {/*foto pizza party */
                @include medidas (500px, 600px);
                @include shadow (5px, 10px);
                border: #000000 1px solid;
                display: flex;
                transition: 0.9s ease-in-out;
                &:hover {
                    transform: scale(1.05);
                }
            }
            .video-index {/* video novedades */
                border: #000000 1px solid;
                @include medidas (500px, 600px);
                padding: 15px; 
                top: 0px; 
                transition: 0.9s ease-in-out;
                @include shadow (2px, 5px);
                &:hover{
                    transform: scale(1.05);
                }
            }
            .logo-novedad { /*foto novedades */
            display: flex;
            @include medidas (450px, 600px);
            }
        }
    }
}
