/*MIXINS*/
@mixin flex-center($display, $horizontal, $vertical){
    display: $display;
    justify-content: $horizontal;
    align-items: $vertical;
}


@mixin medidas ($ancho, $alto,){
    width: $ancho;
    height: $alto;
}


@mixin margenes ($top, $right, $bottom, $left){
    margin-top: $top;
    margin-right: $right ; 
    margin-bottom: $bottom;
    margin-left: $left;
}


@mixin shadow ($radius, $eje) {
    border-radius: $radius;
    box-shadow: $eje $eje ($eje*2)map-get($colores , secundario),
}

@mixin tipografia ($font-size, $line-height, $font-family, $font-weight){
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-family;
    font-weight: $font-weight;
}

@mixin boton($background-color, $text-color) {
    display: inline-block;
    padding: 10px 20px;
    background-color: $background-color;
    color: $text-color;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    @include shadow (5px, 2px);
    &:hover {

    background-color: darken($background-color, 10%);
    }
}
