/*MIXINS*/
@mixin flex($display, $horizontal, $vertical){
    display: $display;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin medidas ($ancho, $alto,){
    width: $ancho;
    height: $alto;
}

@mixin shadow ($radius, $eje, $color: secundario) {
    border-radius: $radius;
    box-shadow: $eje $eje ($eje*2)map-get($colores , $color),
}

@mixin tipografia ($font-size, $font-family, $font-weight){
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
}

@mixin boton($background-color, $text-color) {
    @include flex(flex, center , center);
        @include shadow (5px, 2px);
    padding: 5px 0;
    background-color: $background-color;
    color: $text-color;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;

}
